:root {
    --color-texto: #fafa1e;
    --color-boton: #e4e4e4;
    --fuente-principal: 'Atomic-Age', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://preview.redd.it/kingdom-come-deliverance-ii-wallpaper-4k-v0-jsbmsu9vf1be1.png?auto=webp&s=4c4427eed6d99cf6ee64b58e4bc9521214d8047d);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: var(--fuente-principal);
    color: var(--color-texto);
}

imagenUsuario{
    font-size: 30px;
    margin-bottom: 5px;
}

form {
    background: rgb(98, 1, 1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(117, 115, 115, 0.3);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 2px;
}

input:hover{
    background-color: rgb(255, 255, 0);   
}

button {
    background-color: var(--color-boton);
    color: rgb(234, 255, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 253);
}